export APP_SETTINGS="config.DevelopmentConfig"
export DATABASE_URL="postgres://<user_name>:<password>@localhost:5432/plantinum"
export APP_SECRET_KEY="Your secret key"
export ADMIN_USERNAME="your_admin_username"
export ADMIN_PASSWORD="your_admin_password"
source env/Scripts/activate
